<div class="footer">
    <section class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="section-heading"><b>NDC</b> { Videos }</h3>
                <hr class="primary">
                <br />
                <p>Video portal for NDC Conferences</p>
            </div>
            <div class="social text-center">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/ndcconferences" alt="Facebok" target="_blank"><img src="/Content/img/icon-facebook.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/ndc_conferences" alt="Twitter" target="_blank"><img src="/Content/img/icon-twitter.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/ndc-conferences" alt="LinkedIn" target="_blank"><img src="/Content/img/icon-linkedin.png" /></a>
                    </li>
                    <li>
                        <a href="https://www.vimeo.com/ndcconferences" alt="Vimeo" target="_blank"><img src="/Content/img/icon-vimeo.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>