<header>
    <section class="container">
        <div class="w3-row-padding">
            <div class="w3-form panel">
                <div class="panel-body">
                    <h2 class="text-center">Edit my Profile</h2>
                    <form class="w3-form" method="post" ng-submit="updateProfile()">
                        <div class="w3-groupp">
                            <label class="control-label"><i class="ion-at"></i> Email Address</label>
                            <input type="email" class="form-control" ng-model="user.email" />
                        </div>
                        <br />
                        <button class="btn btn-lg btn-success">Update Information</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>